In [1]:
!cd

D:\Ansys Simulations\Project\2D

# Data Pre-Processing

This notebook aims to, given the data exported from ANSYS, create new files that can be used in a convolutional neural network. The current idea on how to handle this is as follows:

#### Concatenating
The input data needs to be concatenated in one file with all nodes

#### Data Scaling
The input and output data have to be somehow scaled to ensure that the program can generalize to more scenarios. In an usual convolutional neural network, which usually deals with pixel-wise image data, this is simple, as all the values to be scaled are in the range from 0 to 255. This is not the case for this problem as the scale can vary arbitrarily from infinitesimals to very large numbers. What can be done, perhaps, is to create Pi groups to nondimensionalize the data, and then decide on a relevant non dimensional value to divide the data by to scale it. Another approach would be to use a relevant engineering value, such as the yield strength in our scenario, to scale it, however that requires previous engineering knowledge that we do not want to assume we have.

#### Shaping
After the scaling, this data has to be put in a format that can be used for a convolutional neural network. The kernel might have to be modified to travel between nodes instead of a grid, or maybe the data itself has to be transformed to be a continuous field which then could be split in a grid and a more usual kernel used to handle it. Yet a third option is to simply  leave the data as is and split it in a grid anyway. This last approach would require the grid to be such that it catches all nodes, so the smallest element size controls the grid size.

In [121]:
## Imports
import os
from pathlib import Path
import traceback
import re
import pandas as pd

# Concatenating the Input Data

In [5]:
%cd D:\Ansys Simulations\Project\2D\data

D:\Ansys Simulations\Project\2D\data

In [9]:
os.listdir()

['v12_test']

In [11]:
%cd D:\Ansys Simulations\Project\2D\data\v12_test

D:\Ansys Simulations\Project\2D\data\v12_test

In [12]:
os.listdir()

['data_dir_1',
 'data_dir_10',
 'data_dir_100',
 'data_dir_101',
 'data_dir_102',
 'data_dir_103',
 'data_dir_11',
 'data_dir_12',
 'data_dir_13',
 'data_dir_14',
 'data_dir_15',
 'data_dir_16',
 'data_dir_17',
 'data_dir_18',
 'data_dir_19',
 'data_dir_2',
 'data_dir_20',
 'data_dir_21',
 'data_dir_22',
 'data_dir_23',
 'data_dir_24',
 'data_dir_25',
 'data_dir_26',
 'data_dir_27',
 'data_dir_28',
 'data_dir_29',
 'data_dir_3',
 'data_dir_30',
 'data_dir_31',
 'data_dir_32',
 'data_dir_33',
 'data_dir_34',
 'data_dir_35',
 'data_dir_36',
 'data_dir_37',
 'data_dir_38',
 'data_dir_39',
 'data_dir_4',
 'data_dir_40',
 'data_dir_41',
 'data_dir_42',
 'data_dir_43',
 'data_dir_44',
 'data_dir_45',
 'data_dir_46',
 'data_dir_47',
 'data_dir_48',
 'data_dir_49',
 'data_dir_5',
 'data_dir_50',
 'data_dir_51',
 'data_dir_52',
 'data_dir_53',
 'data_dir_54',
 'data_dir_55',
 'data_dir_56',
 'data_dir_57',
 'data_dir_58',
 'data_dir_59',
 'data_dir_6',
 'data_dir_60',
 'data_dir_61',
 'data_dir_62',
 'data_dir_63',
 'data_dir_64',
 'data_dir_65',
 'data_dir_66',
 'data_dir_67',
 'data_dir_68',
 'data_dir_69',
 'data_dir_7',
 'data_dir_70',
 'data_dir_71',
 'data_dir_72',
 'data_dir_73',
 'data_dir_74',
 'data_dir_75',
 'data_dir_76',
 'data_dir_77',
 'data_dir_78',
 'data_dir_79',
 'data_dir_8',
 'data_dir_80',
 'data_dir_81',
 'data_dir_82',
 'data_dir_83',
 'data_dir_84',
 'data_dir_85',
 'data_dir_86',
 'data_dir_87',
 'data_dir_88',
 'data_dir_89',
 'data_dir_9',
 'data_dir_90',
 'data_dir_91',
 'data_dir_92',
 'data_dir_93',
 'data_dir_94',
 'data_dir_95',
 'data_dir_96',
 'data_dir_97',
 'data_dir_98',
 'data_dir_99',
 'log.txt']

In [13]:
%cd D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_1

D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_1

In [14]:
os.listdir()

['disp_test_1.txt',
 'force_test_1.txt',
 'named_selection_test_1.txt',
 'named_selection_test_2.txt',
 'named_selection_test_3.txt',
 'named_selection_test_4.txt',
 'named_selection_test_5.txt',
 'named_selection_test_6.txt',
 'solutions_test_1.txt']

So each directory contains `disp_test_*.txt`, `force_test_*.txt`, `named_delection_*.txt` and `solutions_test_*.txt`. 

The objective is to transform the  `disp_test_*.txt`, `force_test_*.txt` and all `named_delection_*.txt`s to a single file

Since forces and displacements are assigned randomly, for we are going to use a file with a large number of both to develop the transformation script. One such  direcctory  is directory 26, with 12 selections in total, 6 of each deformation and force.

In [51]:
%cd D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26

D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26

In [52]:
os.listdir()

['disp_test_26.txt',
 'force_test_26.txt',
 'named_selection_test_1.txt',
 'named_selection_test_10.txt',
 'named_selection_test_11.txt',
 'named_selection_test_12.txt',
 'named_selection_test_2.txt',
 'named_selection_test_3.txt',
 'named_selection_test_4.txt',
 'named_selection_test_5.txt',
 'named_selection_test_6.txt',
 'named_selection_test_7.txt',
 'named_selection_test_8.txt',
 'named_selection_test_9.txt',
 'solutions_test_26.txt']

In [84]:
current_folder = pathlib.Path.cwd()
current_file = Path("disp_test_26.txt")
print(type(current_file), current_file)


with open(current_file) as file:
    for line in file:
        print(line)

<class 'pathlib.WindowsPath'> disp_test_26.txt
Selection	[m]	0.000606167164195471	-0.000287891718267512	0

Selection 2	[m]	-0.000985739677013019	-0.00208731508313133	0

Selection 3	[m]	-0.000158543117864855	-0.000118606609351938	0

Selection 4	[m]	-8.00937423301898E-06	0.00032369480229358	0

Selection 5	[m]	-0.000427524893052407	0.000184740376266274	0

Selection 6	[m]	0.00142152849334207	-0.00110920936809426	0

In [54]:
## CREATES FOLDERS FOR NEW FILES

#using pathlib to create a path
data_directory_path = Path('D:/Ansys Simulations/Project/2D/data')
try:
    input_folder = Path('input')
    output_folder = Path('output')
    input_path = Path(data_directory_path, input_folder)
    output_path = Path(data_directory_path, output_folder)
    input_path.mkdir()
    output_path.mkdir()
except Exception:
    print("folders likely already exist")
    traceback.print_exc()

folders likely already exist

Traceback (most recent call last):
  File "<ipython-input-54-672ae1d13b42>", line 10, in <module>
    input_path.mkdir()
  File "D:\Anaconda3_2nd\envs\AI_FEA\lib\pathlib.py", line 1268, in mkdir
    self._accessor.mkdir(self, mode)
FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'D:\\Ansys Simulations\\Project\\2D\\data\\input'

In [55]:
print(data_directory_path)
print(input_path)

D:\Ansys Simulations\Project\2D\data
D:\Ansys Simulations\Project\2D\data\input

In [58]:
pathlib.Path.cwd()

WindowsPath('D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26')

In [88]:
print(current_folder.name)

data_dir_26

In [114]:
for file in current_folder.glob("named_selection_*.txt"):
    print(file)

D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26\named_selection_test_1.txt
D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26\named_selection_test_10.txt
D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26\named_selection_test_11.txt
D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26\named_selection_test_12.txt
D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26\named_selection_test_2.txt
D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26\named_selection_test_3.txt
D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26\named_selection_test_4.txt
D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26\named_selection_test_5.txt
D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26\named_selection_test_6.txt
D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26\named_selection_test_7.txt
D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26\named_selection_test_8.txt
D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26\named_selection_test_9.txt

In [117]:
##Create function that gets the sample number from the directory name

def get_sample_number(filename):
    # uses regular expression to match a single number in the file name
    return re.search(r'\d+', filename).group(0)

print(get_sample_number(current_folder.name))

##Create function that returns a list with all named selections
def get_named_selections(sample_path):
    file_list = []
    for file in sample_path.glob("named_selection_*.txt"):
        file_list.append(file)
    return file_list

print(get_named_selections(current_folder))

26
[WindowsPath('D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26/named_selection_test_1.txt'), WindowsPath('D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26/named_selection_test_10.txt'), WindowsPath('D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26/named_selection_test_11.txt'), WindowsPath('D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26/named_selection_test_12.txt'), WindowsPath('D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26/named_selection_test_2.txt'), WindowsPath('D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26/named_selection_test_3.txt'), WindowsPath('D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26/named_selection_test_4.txt'), WindowsPath('D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26/named_selection_test_5.txt'), WindowsPath('D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26/named_selection_test_6.txt'), WindowsPath('D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26/named_selection_test_7.txt'), WindowsPath('D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26/named_selection_test_8.txt'), WindowsPath('D:/Ansys Simulations/Project/2D/data/v12_test/data_dir_26/named_selection_test_9.txt')]

In [103]:
## create filename with the correct number in the input directory
        
sample_number = get_sample_number(current_folder.name)       
input_file_name = Path("input_" + sample_number + '.txt' )
output_file_name = Path("output_" + sample_number + '.txt' )

print(input_file_name)
print(output_file_name)

input_file = Path(input_path, input_file_name)
output_file = Path(output_path, output_file_name)

input_26.txt
output_26.txt

In [144]:
## test data loading for each file

output_file = current_folder.glob("solutions_*.txt")
for file in output_file:
    loaded = pd.read_csv(file, delimiter = '\t',
                         names = ['node_number', 'x_loc','y_loc','z_loc','x_disp','y_disp','z_disp'],
                         header=0)

In [145]:
loaded

     node_number     x_loc    y_loc  z_loc    x_disp    y_disp  z_disp
0              1 -0.186530  1.13540    0.0 -0.000264 -0.000852     0.0
1              2  0.000000  0.00000    0.0 -0.000586 -0.000198     0.0
2              3 -0.178300  1.08530    0.0 -0.000265 -0.000852     0.0
3              4 -0.170060  1.03510    0.0 -0.000264 -0.000852     0.0
4              5 -0.161820  0.98496    0.0 -0.000261 -0.000849     0.0
..           ...       ...      ...    ...       ...       ...     ...
569          570  0.169450  0.33947    0.0  0.000249 -0.000553     0.0
570          571  0.140460  0.33622    0.0  0.000280 -0.000460     0.0
571          572  0.104840  0.44160    0.0  0.000606 -0.000288     0.0
572          573  0.556150  0.75061    0.0  0.000115 -0.000399     0.0
573          574 -0.034216  0.99149    0.0 -0.000257 -0.000864     0.0

[574 rows x 7 columns]

In [146]:
disp_file = current_folder.glob("disp_*.txt")
for file in disp_file:
    loaded = pd.read_csv(file, delimiter = '\t',
                         names = ['named_selection', 'unit','x_disp','y_disp','z_disp'],
                         header=0)
loaded

  named_selection unit    x_disp    y_disp  z_disp
0     Selection 2  [m] -0.000986 -0.002087       0
1     Selection 3  [m] -0.000159 -0.000119       0
2     Selection 4  [m] -0.000008  0.000324       0
3     Selection 5  [m] -0.000428  0.000185       0
4     Selection 6  [m]  0.001422 -0.001109       0

In [147]:
force_file = current_folder.glob("force_*.txt")
for file in force_file:
    loaded = pd.read_csv(file, delimiter = '\t',
                         names = ['named_selection', 'unit','x_force','y_force','z_force'],
                         header=0)
loaded

  named_selection unit     x_force    y_force  z_force
0     Selection 8  [N]    9.399572 -76.407456        0
1     Selection 9  [N]  -73.879462  41.072945        0
2    Selection 10  [N]  -92.402431 -17.885949        0
3    Selection 11  [N]  194.506550  44.414754        0
4    Selection 12  [N]  120.497922 -17.559974        0

In [154]:
## Empty Dataframe

df = pd.DataFrame(columns = ['node_number', 'named_selection' , 'x_loc','y_loc','z_loc',
                             'x_disp','y_disp','z_disp',
                            'x_force','y_force', 'z_force'])
df

Empty DataFrame
Columns: [node_number, named_selection, x_loc, y_loc, z_loc, x_disp, y_disp, z_disp, x_force, y_force, z_force]
Index: []

In [167]:
ns_file = current_folder.glob("named_selection_test_1.txt")
for file in ns_file:
    ns_loaded = pd.read_csv(file, delimiter = '\t',
                         names = ['node_number','x_loc','y_loc','z_loc'],
                         header=0,
                         usecols = range(4))
ns_loaded

    node_number     x_loc    y_loc  z_loc
0            65  0.120580  0.51186    0.0
1            80  0.031765  0.53201    0.0
2            89  0.174450  0.48394    0.0
3           177  0.189800  0.56873    0.0
4           178  0.127090  0.60428    0.0
5           187  0.239610  0.53031    0.0
6           188  0.131800  0.43224    0.0
7           198  0.077882  0.45095    0.0
8           331  0.076175  0.52194    0.0
9           332  0.147520  0.49790    0.0
10          333  0.155190  0.54030    0.0
11          334  0.099233  0.48140    0.0
12          350  0.196170  0.46528    0.0
13          379  0.020647  0.48912    0.0
14          380  0.079427  0.56815    0.0
15          381  0.014524  0.56408    0.0
16          395  0.156860  0.41772    0.0
17          400  0.207030  0.50713    0.0
18          401  0.153130  0.45809    0.0
19          516  0.043705  0.44859    0.0
20          560  0.158440  0.58651    0.0
21          562  0.214710  0.54952    0.0
22          563  0.164540  0.63514    0.0
23          564  0.100720  0.62376    0.0
24          572  0.104840  0.44160    0.0

In [153]:
## Only make input file because the output is just a copy.
## Which can be done in a later step

print(input_file)
print(current_folder)

def create_input_file(input_file, sample_folder):
    with open(input_file, mode = 'a+') as created_file:
        named_selections = get_named_selections(sample_folder)
        #load in solutions file
        solutions_file = sample_folder.glob("solutions_*.txt")
        for file in solutions_file:
            solutions_data = pd.read_csv(file, delimiter = '\t',
                         names = ['node_number', 'x_loc','y_loc','z_loc','x_disp','y_disp','z_disp'],
                         header=0)
        disp_file = current_folder.glob("disp_*.txt")
        
        #load in displacement boundary conditions
        for file in disp_file:
            disp_bc_data = pd.read_csv(file, delimiter = '\t',
                         names = ['named_selection', 'unit','x_disp','y_disp','z_disp'],
                         header=0)
        
        #load in force boundary conditions
        force_file = current_folder.glob("force_*.txt")
        for file in force_file:
            force_bc_data = pd.read_csv(file, delimiter = '\t',
                         names = ['named_selection', 'unit','x_force','y_force','z_force'],
                         header=0)
            
        #create empty dataframe
        df = pd.DataFrame(columns = ['node_number', 'named_selection' , 'x_loc','y_loc','z_loc',
                             'x_disp','y_disp','z_disp',
                            'x_force','y_force', 'z_force'])
        
        return force_bc_data, disp_bc_data, solutions_data

create_input_file(input_file, current_folder)

D:\Ansys Simulations\Project\2D\data\input\input_26.txt
D:\Ansys Simulations\Project\2D\data\v12_test\data_dir_26

(  named_selection unit     x_force    y_force  z_force
 0     Selection 8  [N]    9.399572 -76.407456        0
 1     Selection 9  [N]  -73.879462  41.072945        0
 2    Selection 10  [N]  -92.402431 -17.885949        0
 3    Selection 11  [N]  194.506550  44.414754        0
 4    Selection 12  [N]  120.497922 -17.559974        0,
   named_selection unit    x_disp    y_disp  z_disp
 0     Selection 2  [m] -0.000986 -0.002087       0
 1     Selection 3  [m] -0.000159 -0.000119       0
 2     Selection 4  [m] -0.000008  0.000324       0
 3     Selection 5  [m] -0.000428  0.000185       0
 4     Selection 6  [m]  0.001422 -0.001109       0,
      node_number     x_loc    y_loc  z_loc    x_disp    y_disp  z_disp
 0              1 -0.186530  1.13540    0.0 -0.000264 -0.000852     0.0
 1              2  0.000000  0.00000    0.0 -0.000586 -0.000198     0.0
 2              3 -0.178300  1.08530    0.0 -0.000265 -0.000852     0.0
 3              4 -0.170060  1.03510    0.0 -0.000264 -0.000852     0.0
 4              5 -0.161820  0.98496    0.0 -0.000261 -0.000849     0.0
 ..           ...       ...      ...    ...       ...       ...     ...
 569          570  0.169450  0.33947    0.0  0.000249 -0.000553     0.0
 570          571  0.140460  0.33622    0.0  0.000280 -0.000460     0.0
 571          572  0.104840  0.44160    0.0  0.000606 -0.000288     0.0
 572          573  0.556150  0.75061    0.0  0.000115 -0.000399     0.0
 573          574 -0.034216  0.99149    0.0 -0.000257 -0.000864     0.0

 [574 rows x 7 columns])