In [3]:
!cd

D:\Ansys Simulations\Project\2D

# SCALING NOTEBOOK
This notebook is used to develop the functions needed to script the scaling of the data

In [10]:
## imports
from pathlib import Path
import pandas as pd

In [25]:
## Create a function to get the data
def get_sample_dfs(samples_folder_path, sample_number):
    ## returns the input and output dataframe for the sample specified
    
    input_folder_path = Path(samples_folder_path, 'input')
    output_folder_path = Path(samples_folder_path, 'output')
    
    glob_string = "*_" + str(sample_number) + ".csv"
    
    input_sample_glob = input_folder_path.glob(glob_string)
    
    for i, sample_input_file in enumerate(input_sample_glob):
        if i == 0:
            sample_input_df = pd.read_csv(sample_input_file, index_col = 0)
        else:
            raise Exception('error: more than one input sample with label' + str(sample_number))
    
    output_sample_glob = output_folder_path.glob(glob_string)
    
    for i, sample_output_file in enumerate(output_sample_glob):
        if i == 0:
            sample_output_df = pd.read_csv(sample_output_file, index_col = 0)
        else:
            raise Exception('error: more than one output sample with label' + str(sample_number))
    
    return sample_input_df, sample_output_df

data_folder_path =  Path('D:/Ansys Simulations/Project/2D/data') 
print(data_folder_path)
raw_input_data, raw_output_data = get_sample_dfs(data_folder_path, 26)

D:\Ansys Simulations\Project\2D\data

In [26]:
raw_input_data

,node_number,named_selection,x_loc,y_loc,z_loc,x_disp,y_disp,z_disp,x_force,y_force,z_force
0,1,-1,-0.186530,1.13540,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
1,2,-1,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
2,3,-1,-0.178300,1.08530,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
3,4,-1,-0.170060,1.03510,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
4,5,-1,-0.161820,0.98496,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
569,570,-1,0.169450,0.33947,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
570,571,-1,0.140460,0.33622,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
571,572,1,0.104840,0.44160,0.0,0.000606,-0.000288,0.0,0.0,0.0,0.0
572,573,-1,0.556150,0.75061,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
573,574,-1,-0.034216,0.99149,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0

In [28]:
raw_output_data

     node_number     x_loc    y_loc  z_loc    x_disp    y_disp  z_disp
0              1 -0.186530  1.13540    0.0 -0.000264 -0.000852     0.0
1              2  0.000000  0.00000    0.0 -0.000586 -0.000198     0.0
2              3 -0.178300  1.08530    0.0 -0.000265 -0.000852     0.0
3              4 -0.170060  1.03510    0.0 -0.000264 -0.000852     0.0
4              5 -0.161820  0.98496    0.0 -0.000261 -0.000849     0.0
..           ...       ...      ...    ...       ...       ...     ...
569          570  0.169450  0.33947    0.0  0.000249 -0.000553     0.0
570          571  0.140460  0.33622    0.0  0.000280 -0.000460     0.0
571          572  0.104840  0.44160    0.0  0.000606 -0.000288     0.0
572          573  0.556150  0.75061    0.0  0.000115 -0.000399     0.0
573          574 -0.034216  0.99149    0.0 -0.000257 -0.000864     0.0

[574 rows x 7 columns]